<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJ Aureli - {{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <header>
            {% include nav.html %}
            <h1>{{ page.title }}</h1>
            <div class="meta-date">PUBLISHED: {{ page.date | date: "%Y-%m-%d" }}</div>
        </header>
        <main>
            <div class="meta-panel">
                {% if page.subheading %}
                <div class="meta-row">
                    <span class="scope-text"><em>{{ page.subheading }}</em></span>
                </div>
            {% endif %}
            <ul class="meta-list">
                {% if page.topic %}
                    <li><strong>Topic:</strong> {{ page.topic }}</li>
                {% endif %}
                {% if page.read_time %}
                    <li><strong>Read Time:</strong> {{ page.read_time }} min</li>
                {% endif %}
            </ul>
            </div>
            {{ content }}
        </main>
        <footer>
            <p>&copy; {{ "now" | date: "%Y" }} AJ Aureli. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>